# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env
*.egg-info/
# dist/
build/
.pytest_cache/

# Node
node_modules/
.expo/
# dist/
web-build/
*.log
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
